<!DOCTYPE html>
<html ng-app>
    <head>
        <title>Bootstap 101 Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS -->
        <!-- Bootstrap -->
        <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        
        <link href="css/style.css" rel="stylesheet">
        
        <!-- JS -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="js/lib/gazel.min.js"></script>
        
        <script src="js/task.js"></script>
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div ng-view class="container">
            <h1>Todo!</h1>
            
            <div class="row">
                <div class="col-md-12" ng-controller="TaskCtrl">
                    <div class="row top-buffer">
                        <form role="form" ng-submit="add()">
                            <div class="col-md-4">
                                <input type="text" class="form-control input-lg" ng-model="taskName" placeholder="New Task Name">
                            </div>
                            <div class="col-md-2">
                                <select class="form-control input-lg" ng-model="taskPriority">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" class="form-control input-lg btn btn-primary">
                            </div>
                        </form>
                    </div>
                    <div class="row top-buffer">
                        <table class="table table-striped table-hover">
                            <tbody>
                                <tr>
                                    <th>Done</th>
                                    <th>Name</td>
                                    <th>Priority</td>
                                </tr>
                                <tr ng-repeat="task in tasks | orderBy:'priority'">
                                    <td><a ng-click="remove(task.name)" href="#" class="glyphicon glyphicon-ok"></a></tb>
                                    <td>{{task.name}}</td>
                                    <td>{{task.priority}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END .container -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>